div{
    height: 200px;
    width: 200px;
}

.asd{
    background-color: powderblue;
    border: 10px solid black;
    padding: 20px;
}

.rty{
    background-color: pink;
    border: 20px solid black;
    margin-left: 260px;
}

.yui{
    background-color: yellow;
    border: 10px solid black;
    margin-left: 500px;
}