hr {
    height: 3px;
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-color: blanchedalmond;
    border-width: 10px;
}

body {
    background-color: darkseagreen;
}